name: 'Build and Test'
on: 
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: 'Install Node'
      uses: actions/setup-node@v2
      with:
        node-version: '16.x'
    - name: 'Install Deps'
      run: npm install
    - name: 'Build'
      run: npm run build
    - name: 'Test'
      run: npm run test:coverage
    # To check if this action runs without executing NPM install, we delete the node_modules folder
    - name: 'Clean up node_modules'
      run: rm -rf node_modules
    - name: 'Use this action'
      # run step also on failure of the previous step
      if: always()
      uses: ./
